.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fly-in {
  margin-bottom: 0;
  animation-name: flyInMargin;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes flyInMargin {
  0% {
    margin-bottom: -100%;
  }
  100% {
    margin-bottom: 0;
  }
}
